<!DOCTYPE html>

<html>
<head>
    <title>{{app.name}} Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <!-- link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen" -->

    <link rel="stylesheet" href="/components/mocha/mocha.css"/>

    <style type="text/css">
    </style>

    <script data-main="/js/tests" src="/components/requirejs/require.js"></script>
</head>

<body>
<div id="mocha"></div>
</body>
</html>
