<!DOCTYPE html>

<html>
<head>
    <title>{{app.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/main.css" rel="stylesheet" type="text/css">

    <script data-main="/js/main" src="/components/requirejs/require.js"></script>
</head>


<body>
</body>
</html>
