<!DOCTYPE html>

<html>
<head>
    <title>{{appName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
    </style>

    <script data-main="/js/main" src="/components/requirejs/require.js"></script>
</head>

<body>
<script type="text/x-handlebars" id="application">
    <div class="container">
        <h1 class="text-center">{{appName}}</h1>
    </div>
</script>
</body>
</html>
