/* Microscratch specific Sass */

body {
    background-color: #ecf0f1;
    color: #c0392b;
    font-size: 22px;
    font-weight: 300; }

a {
    color: #c0392b; }
a:hover, a:active {
    color: #c0392b; }

.intro h1 {
    color: #c0392b;
    font-size: 3em;
    margin: 1.5em 0 0.5em 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em; }
@media screen and (max-width: 650px) {
    .intro h1 {
        font-size: 1.4em; } }
.intro p {
    font-style: italic;
    font-size: 1.5em;
    color: rgba(192, 57, 43, 0.85); }
@media screen and (max-width: 650px) {
    .intro p {
        font-size: 1.2em; } }

.action-area {
    padding: 1.5em 0;
    text-align: center;
    margin: 2em 0 1em 0;
    background-color: rgba(127, 140, 141, 0.25);
    border-radius: 4px; }

.instructions {
    padding: 0.5em; }
.instructions h3 {
    font-weight: 300;
    color: #2c3e50;
    text-transform: uppercase;
    font-size: 0.9em; }
.instructions .or {
    text-align: center;
    line-height: 1.6em;
    margin: 0;
    padding: 0; }

.footer {
    color: #7f8c8d;
    border-top: 1px solid #7f8c8d;
    font-size: 0.8em;
    padding: 0.5em 0;
    margin: 1em 0; }
